<div class="tab-pane fade show active pt-3" id="nav-order" role="tabpanel" aria-labelledby="nav-order-tab">
  <div class="row">
    <div class="col-sm-4">
      <div class="col-9">
        <div class="container">
          <form (ngSubmit)="onSubmit(form)" #form="ngForm">
            <h3 class="fw-bolder"><i class="bi bi-card-checklist"></i> Thêm Hóa Đơn</h3>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label fw-bolder">Tên khách hàng: </label>
              <strong class="text-danger fw-normal" *ngIf="user.invalid && (user.dirty || user.touched)">
                <strong *ngIf="user.errors?.['required']">Không được bỏ trống</strong>
                <strong *ngIf="user.errors?.['minlength']">Tên sản phẩm trên 3 ký tự</strong>
              </strong>
              <input #user="ngModel" type="text" class="form-control" id="exampleInputName1" 
                    [(ngModel)]="order.user" name="user" required minlength="3">
            </div>
  
            <div class="mb-3">
              <label for="exampleInputPrices1" class="form-label fw-bolder">Tổng hóa đơn: </label>
              <strong class="text-danger fw-normal" *ngIf="prices.invalid && (prices.dirty || prices.touched)">
                <strong *ngIf="prices.errors?.['required']">Không được bỏ trống</strong>
              </strong>
              <input #prices="ngModel" type="number" class="form-control" id="exampleInputPrices1"
              [(ngModel)]="order.prices" name="prices" required>
            </div>
            
            <button type="submit" class="btn btn-primary fw-bolder">Lưu</button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-sm-7">
      <div class="container">
        <div class="table-responsive">
          <h3 class="fw-bolder text-center">Danh Sách Hóa Đơn</h3>
          <table class="table">
            <thead style="background-color: rgb(255, 190, 91);">
              <tr>
                <th scope="col">STT</th>
                <th scope="col">Tên Khách Hàng</th>
                <th scope="col">Tổng giá</th>
                <th scope="col">Thời gian</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of data; let i=index" appColorchange>
                <td>{{item.id}}</td>
                <td>{{item.user}}</td>
                <td>{{item.prices}}</td>
                <td>{{item.date | date:'mediumDate'}}</td>
                <td>
                  <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                    <button class="btn btn-danger" (click)="remove(item)"><i class="bi bi-trash3"></i> Xóa</button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>


</div>
