<div class="tab-pane fade show active pt-3 ms-sm-auto" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
  <div class="content">
    <div class="text-secondary px-4 py-5 text-center" style="background-color: rgba(255, 191, 108, 0.897); margin-top: 100px;">
        <div class="py-5">
          <h1 class="display-5 fw-bold text-white">{{content}}</h1>
          <div class="col-lg-6 mx-auto">
            <p class="fs-5 mb-4">

            </p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center" >
                <h4> {{today | date:'fullDate'}} </h4>
            </div>
          </div>
        </div>
      </div>
    <div class="text-center p-3">
       
    </div>
</div>
</div>

